--extra-index-url https://download.pytorch.org/whl/cpu
pandas
catboost
optuna
numpy
matplotlib
statsmodels
scipy
scikit-learn
pymorphy2
transformers
torch==2.2.2+cpu
psycopg2-binary
apache-airflow-providers-postgres
apache-airflow-providers-amazon
mlflow
backoff
nltk
seaborn
cryptography==41.0.4
